<div class="error-messages-container">
    <app-backend-error-messages
    *ngIf="errors$ | async" 
    [backendErrors]="errors$ | async">
    </app-backend-error-messages>
</div>

<div *ngIf="feedData$ | async">
    <div class="article-preview" *ngFor="let article of (feedData$ | async)?.articles">
        <div class="article-meta">
            <a [routerLink]="['/profiles', article.author]">
                <img [src]="article.author.image" />
            </a>
            <div class="info">
                <a class="author" [routerLink]="['/profiles', article.author.username]">
                    <span>{{article.author.username}}</span>
                </a>
                <span class="data">{{article.createdAt}}</span>
            </div>
            <div class="pull-xs-right">
                ADD TO FAVOURITES
            </div>
        </div>
        <a class="preview-link" [routerLink]="['/articles', article.slug]">
            <h1>{{article.title}}</h1>
            <p>{{article.description}}</p>
            <span>Read more..</span>
            HERE LIST OF TAGS
        </a>
    </div>
    PAGINATION
</div>