<div class="home">
    <app-banner></app-banner>
    <div class="container">
        <app-loading *ngIf="(isLoading$ | async)"></app-loading>
        <div *ngIf="!(isLoading$ | async)">
            <div class="error-messages-container">
                <app-backend-error-messages
                *ngIf="errors$ | async" 
                [backendErrors]="errors$ | async">
                </app-backend-error-messages>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <app-feed-toggler></app-feed-toggler>
                    <app-feed [stateKind]="'your-feed'" [currentPage]="currentPage"></app-feed>
                </div>
                <div class="col-md-3">
                    <app-popular-tags></app-popular-tags>
                </div>
            </div>
        </div>
    </div>
</div>